

!.vscode/extensions.json
# Build outputs
# Editor directories and files
# Environment
# IDEs
# Logs
# Node
# Temporary files
# Test coverage
*.local
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.swo
*.swp
*.temp
*.tmp
*~
.cache/
.DS_Store
.DS_Store
.env
.env.local
.env.production
.idea
.idea/
.nyc_output/
.pnpm-debug.log*
.vscode/
.vscode/*
coverage/
dist
dist/
dist-ssr
dist-ssr/
frontend/build/
frontend/dist/
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-error.log*
